// Variables
$primary-color: #fde6ee;
$title-color: #70a1f1;
$dark-color: #212529;
$text-light: #e2a6c9;
$font-main: 'Arial', sans-serif;
$radius: 10px;
$highlight-color: #cceaff;
$card-bg: #ffe6f0;
$mobile-breakpoint: 768px;