<<<<<<< HEAD
// MIXIN
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
=======
// MIXIN
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
>>>>>>> 0a601ade90a34266aa7a8300aa9b824b51ee37dd
}