<<<<<<< HEAD
// _reset.scss
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
=======
// _reset.scss
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
>>>>>>> 0a601ade90a34266aa7a8300aa9b824b51ee37dd
  