<<<<<<< HEAD
// VARIABLES
$primary-color: #f5a9b8;
$dark-color: #212529;
$text-light: #fff;
$font-main: 'Arial', sans-serif;
=======
// VARIABLES
$primary-color: #f5a9b8;
$dark-color: #212529;
$text-light: #fff;
$font-main: 'Arial', sans-serif;
>>>>>>> 0a601ade90a34266aa7a8300aa9b824b51ee37dd
$radius: 10px;